<p>
  <strong>Tittle:</strong>
  <%= @theme.tittle %>
</p>

<p>
  <strong>Content:</strong>
  <%= @theme.content %>
</p>

<%= render 'comment/form' %>

<%= link_to 'Edit', edit_theme_path(@theme) %> |
<%= link_to 'Back', themes_path %>
