<div class="container">
<h1>Hellocopy</h1>
<p>¡Asegura tu copia!</p>
<p>Foro para intercambio de ideas de estudiantes de la UPOLI</p>

<br />

	<a href="https://www.facebook.com" target="blank"> 
	<%=image_tag("facebook.png") %> </a>

	<a href="https://www.twitter.com" target="blank">
	<%=image_tag("twitter.png") %> </a>

	<a href="https://www.instagram.com" target="blank">
	<%=image_tag("instagram.png") %> </a>

<div/>
